# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
POSTGRES_USER=postgres
POSTGRES_HOST=localhost
POSTGRES_DATABASE=farm-management
POSTGRES_PASSWORD=123
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:123@localhost:5432/farm-management
